<nav class="mat-elevation-z6">
<md-toolbar  class="navigation" color="primary">
    <button md-button><i class="material-icons md-36">home</i><span class="nav-text">{{ appname }}</span></button>

  <!-- This fills the remaining space of the current row -->
    <span class="example-spacer"></span>
    <button md-button><i class="material-icons md-36">account_box</i><span class="nav-text">Account</span></button>
</md-toolbar></nav>
<div class="container">
  <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>About Me</md-card-title>
      <md-card-subtitle>Donald Duck</md-card-subtitle>
    </md-card-header>
    <div class="card-img"><img md-card-image src="https://i.stack.imgur.com/wPh0S.jpg"></div>
    <md-card-content>
      <p>Donald Duck is a cartoon character created in 1934 at Walt Disney Productions. Donald is an anthropomorphic white duck with a yellow-orange bill, legs, and feet. He typically wears a sailor shirt and cap with a bow tie. Donald is most famous for his semi-intelligible speech and his mischievous and temperamental personality
        Donald Duck the prominent character we used to see from our childhood. The quack quack that we could interpret was just lovely. Quackquenzy!
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
</div>